.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  border-radius: 10px;
  background-image: url(../public/7561340.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}
textarea,input{
  text-decoration: none;
}
main {
  margin-top:80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 50%;
  height: 60vh;
  margin-left: 250px;
}

.title {
  width: 60%;
  height: 40px;
  background-color: rgb(241, 240, 240);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 280px;
  margin-top: 80px;
}

h1 {
  display: inline;
}

.title i {
  width: 20px;
  height: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.inputsBox {
  width: 63%;
  margin-left: 270px;
}

.inputText {
  width: 90%;
  height: 50px;
  border-bottom: 1px solid rgb(10, 14, 232);
  border-top:white ;
  border-left:white ;
  border-right:white ;
  outline: none;
  margin-left: 20px;
  font-size: 18px;
  
  
}
textarea,input{
  text-decoration: none;
  /* outline: none; */
}
.checkbox {
  width: 20px;
  height: 15px;
  margin-left: 0;
}
.btn1{
  background-color: red;
  padding: 5px ;
}
.input i {
  cursor: pointer;
}

 
 /* .star-empty {
  color: gray;
 } */
 /* .star-empty:active{
  background-color: red;
 }
  */
  
